/*    CSS code */
body {
    background: #fff url(http://juan.diaz.people.cpcc.edu/background/b_w/mar.jpg) no-repeat bottom right; 
    background-repeat: no-repeat;
    background-attachment: fixed;			/*	to center image verticaly	*/
		background-size: cover;
		background-position: center; 			/*	to center image verticaly	*/
    font-size: 23px;
    color: #e5e8e7;	/*nearWhite*/
	  font-family: 'Marck Script', cursive;		/* font for nav and everything but the main*/
}
.center {
    text-align: center;
}
.pic {
    width: 250px;
    height: 250px;
    text-align: center;
		border-radius: 5%;
}
.webs a {
	  text-decoration: none;
}
main {
    font-family: 'Courgette', cursive;
    background-color: rgba(115, 128, 69, .5);
    color: #e4d489;
    padding: 10px 10px;
    margin: 0px auto;
    max-width: 800px;
    border-style: double;
}
p { 
  text-shadow: .2px .5px .1px #c88282, 
                .3px .3px 5px black;
}
ul,button {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}
li a,button {
    display: block; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a,button {
    color: #2e3f3e;
}
a,button:hover {
    color: #6b0504;
    text-decoration: underline;
		text-decoration-color: #6b0504;
}
a,button:visited {
    color: #2e3f3e;		/*	change here	*/
}
#create {
	width: 500px;
	border-radius: 25px;
	
}
footer {   
    text-align: center;
    padding-top: 5px;
    margin: 0px auto;
    max-width: 600px; 
}