body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.6em;
	/* font: 15px/1.5 Arial, Helvetica, sans-serif;*/
	background-color:#f4f4f4;
	color:#555;
	margin-right:20px;
	margin-left:20px;
	margin-bottom:0px;
}
header{
	text-align: center;
}
 h1 {
	color:  #6699ff;	/*blue*/
}
 footer {
	text-align: center;
	background-color: #330000;		/*red*/
	padding:5px;
	padding-left:100px;
}
#validate a {
	text-decoration:none;
}
#socialmenu li {
	display: inline;
    padding: 3px;
}
/*********************************************************/
/*	social media	To edit the social menu*/
.fa {
  padding: 8px;
  width: 40px;
 /* height: 40px;	*/
  font-size: 20px;
  text-align: center;
/*vertical-align: middle;	doesnt not center text vertically*/
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;			/*create a circul*/
  color: white;					/*text color*/
}

.fa:hover {
    opacity: 0.7;
	
}

.fa-facebook {
  background: #3B5998;
}
.fa-instagram {
  background: #125688;
}
.fa-linkedin {
  background: #007bb5;
}
.fa-github {
  background: white;
  color:black;
}
.fa-codepen {
  background: #211f1b; /*black*/
}
.fa-expeditedssl {		/* MyWebspace	*/
  background:   #cc9900; /*orange*/
}
.fa-code {
  background: #734d26; /*brown*/
}
.fa-leaf {
  background: #008000;	/*green*/
}
/*********************************************************/
/* contract section*/
.workflow {
	text-align: center;
}